<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/11845109_10204606194346014_5589517661930520647_o.jpg">
        <div class="caption center-align">
          <h3>Saturday dilemma: Where should I hike today?</h3>
          <h5 class="light grey-text text-lighten-3">Let The Modern Pilgrim help.</h5>
        </div>
      </li>
      <li>
        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/12109275_10206375871728759_2668634380580275668_n.jpg?oh=e2a4fd15ed5d32d61eef9e0957912353&oe=579C66E2">
        <div class="caption left-align">
          <h3>Join our community of like-minded individuals....</h3>
          <h5 class="light grey-text text-lighten-3">Who are just trying to get their butts outside.</h5>
        </div>
      </li>
      <li>
        <img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/11838649_3445953793113_550966549516095111_o.jpg">
        <div class="caption right-align">
          <h3>Join our community or just creep around.</h3>
        </div>
      </li>
    </ul>
</div>
